* {
    font-family: 'Lato', sans-serif;
}

.selectViaje {
    background-color: $lightBlue;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

            label{
                display: flex;
                align-items: center;
                font-weight: bold;
            }
            .seleccionTipoPasaje{
                display: flex;
                justify-content: center;

                    button{
                        background-color: $DarkBlue;
                        color: $white;
                        border: none;
                    }

                    .selectIda{
                            background-color: $DarkBlue;
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-right: $white;
                            margin-right: 1%;
                            border-radius: 5px;
                            cursor: pointer;
                            color:$white;

                            input[type="radio" i] {
                                 margin-right: 10px;
                             }
                        &:hover{
                            background-color:$darkestBlue;

                            button {
                                &:hover{
                                    background-color:$darkestBlue;
                                }   
                            }
                        }     
                    }
                    .select-idaYvuelta{
                        @extend .selectIda;
                    }
            }
}


.selectOrigen label::before{
    content: url(../img/icon/despegue.png);
}

.selectDestino label::after {
    content: url(../img/icon/aterrizaje.png);
}
.selectPasajeros label::before{
    content: url(../img/icon/asiento.png);
}

.buscarVuelos{
    cursor:pointer;

        button{
            border: none;
            border-radius: 20px;
            background-color: #06657c;
            color: $white;
            padding: 3%;
            font-weight: bold;
            width: 100%;

            &:hover{
                background-color:$darkestBlue;
            }            
        }
}

.form-error{
    display: none;
}

.text-principal{

        h1{
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 10%;
        }
        p{
            padding: 0% 5%;
        }
}

.img-turismo{
    overflow: hidden;
    padding-left: 4%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

            img{
                cursor: pointer;
                padding-right: 5%;
                transform: 2s;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
}
    .container-trip{

        figure{
            position: relative;
            width: 100%;
            overflow: hidden;

            &:hover > .hover{
                opacity: 0.7;
                visibility: visible;
            }
            &:hover > img{
                transform: scale(1.1);
            }
        }
    }
    .hover{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $transparencia;
        transition: all 400ms ease-out;
        opacity: 1;
        visibility: hidden;
    }


.steps-fly{         //titulo de la section con animaciones 
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 9% 0%;
    box-sizing: border-box;
    width: 100%;

}

.pasos{             //contenedor de la section
    display: flex;
    flex-direction: column;
    background-color: $lightBlue;
    color: $white;
    overflow: hidden;
    padding-bottom: 15%;

    .box-fly{
        width: 100%;
        margin-top: 10%;
        text-align: center;
        display: flex;
        padding-left: 5%;

        .text-steps{
            width: 50%;
                h3{
                    font-size: 1rem;
                    text-align: center;
                    font-weight: bold;
                }
                p{
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }
                a{
                    text-decoration: none;
                    color: $DarkBlue;
                    font-size: 1rem;
                    font-weight: bold;
                }
        }
        .img-steps-right{
            margin-left: 10%;
        }
        .img-steps-left{
            margin-right: 10%;
        }
    }
}

.doc-important{

    h1{
        text-align: center;
        background-color: $darkestBlue;
        color: $white;
    }
    p{
        padding: 0 5%;
    }
    h2{
        text-align: center;
        background-color: $darkestBlue;
        color: $white;
        font-size: 1.3rem;
    }
    .vuelos-doc{
        color: $DarkBlue;
        font-weight: bold;
    }
}

//PAGINA DE CHECKOUT
header{
    h1{
        background-color: $DarkBlue;
        text-align: center;
        color: $white;
        padding: 5% 0%;
    }
}

.medios-pago{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 5%;
    margin-left: 5%;

        .box-pago{
            border: solid;
            border-width: 0.3px;
            border-color: #c5c5c5;
            display: flex;
            align-items: center;
            margin-top: 2%;
            border-radius: 5px;
            cursor: pointer;

                .input-text-pago{
                    display: flex;
                    align-items: baseline;

                    h3{
                        font-weight: bold;
                        margin-left: 2%;
                        font-size: 1rem;
                    }
                }
                p{
                    font-size: 0.8rem;
                }

            &:hover,
            &.selected{
                transition: .5s ease-in;
                box-shadow: 2px 10px 10px rgb(1, 55, 68);  
                background-color: $lightBlue;
            }
        }
        .resumen{
            border: solid;
            border-radius: 7px;
            border-color: #c5c5c5;
            border-width: 0.3px;
            margin-top: 5%;

                h3{
                    font-weight: bold;
                    text-align: center;
                }
        }

        .compra{
            button{
                margin-top: 10%;
                background-color: $mainColor;
                color: $white;
                font-weight: bold;
                border: none;
                border-radius: 7px;
                width: 70%;
                padding: 2%;
                margin-left: 15%;

                &:hover{
                    background-color: $DarkBlue;
                }
                
            }
        }
}

   .efectivo-content{
       margin-top: 2%;
   }
   .transfer-content{
        margin-top: 3%;
   }
   .debit-content{
    margin-top: 3%;
   }


// FOOTER
footer{
    background-color: $mainColor;
    .box-footer{
        ul{
            li{
                a{
                    &:hover{
                        color: $darkestBlue;
                    }
                }
            }
        }
    }
}

.accordion-header{
    .accordion-drop{
        background-color: $mainColor;
        color: $white;
    }

    .accordion-button:not(.collapsed) {
        background-color: $darkestBlue;
        color: $white;
    }
}

.accordText{
    background-color: $DarkBlue;
    ul{
        list-style: none;

        li{
            a{
                text-decoration: none;
                color: $white;
            }
        }
    }
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
    height: 80px;
    margin-bottom: 5px;

    h3{
        font-size: 1rem;
    }

    input{
        width: 80%;
        border: none;
        border-radius: 8px;
    }
}

.footerDesktop{
    display: none;
}

//-------------PASAJES HTML CON GRID----------------------------------
#grid-pasajes {
    display: grid;
    grid-template-areas: 
      "logo dias"
      "ida vuelta"
      "precio seleccion";
    grid-template-rows: auto auto auto;
    grid-template-columns: 2.7fr 2fr;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4%;
    margin-bottom: 2%;
    background-color: $DarkBlue;
    color: $white;
  
    &:hover {
      transition: .5s ease-in;
      box-shadow: 2px 10px 60px rgb(1, 55, 68);        
    }
  }
  
  .logo {
    grid-area: logo;
    border-bottom: solid;
    border-width: 1px;
    border-color: $lightBlue;
    padding-left: 5%;
    padding-top: 5%;

    span{
        font-size: 0.8rem;
        margin-right: 5%;
    }
  }
  
  .dias {
    grid-area: dias;
    border-bottom: solid;
    border-width: 1px;
    border-color: $lightBlue;
    padding-left: 30%;
    padding-top: 15%;
  }
  
  .ida {
    grid-area: ida;
    border-bottom: solid;
    border-width: 1px;
    border-color: $lightBlue;
    padding-left: 15%;
    padding-top: 5%;
  }
  
  .vuelta {
    grid-area: vuelta;
    border-bottom: solid;
    border-width: 1px;
    border-color: $lightBlue;
    padding-left: 15%;
    padding-top: 5%;
  }
  
  #container-precio {
    grid-area: precio;
    padding-left: 15%;
    padding-top: 5%;
  }
  
  .seleccionar-pasaje {
    grid-area: seleccion;
    padding-left: 10%;
    padding-top: 15%;
  
    button {
      border: none;
      color: $white;
      background-color: $darkestBlue;
      border-radius: 5px;
      padding: 4% 3%;
  
      &:hover {
        background-color: $mainColor;
      }
    }
  }

